{% extends 'base.html.twig' %}

{% block title %}Promos{% endblock %}

{% block body %}
    <h1>Promos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promo.id }}</td>
            </tr>
            <tr>
                <th>Nom_promos</th>
                <td>{{ promo.nomPromos }}</td>
            </tr>
            <tr>
                <th>Nbr_eleves</th>
                <td>{{ promo.nbrEleves }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_promos_index') }}">back to list</a>

    <a href="{{ path('app_promos_edit', {'id': promo.id}) }}">edit</a>

    {{ include('promos/_delete_form.html.twig') }}
{% endblock %}
