{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignant index</h1>

<main class="main">

    <!-- breadcrumb -->
    <div class="site-breadcrumb" style="background: url({{asset('img/breadcrumb/01.jpg')}})">
        <div class="container">
            <h2 class="breadcrumb-title">Table de resérvations</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index.html">Acceuil</a></li>
                <li class="active">Reservations</li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb end -->

    <div class="tuition-fee py-120">
        <div class="container">
            <div class="tuition-wrap">
                <div class="mb-2">
                    <h3 class="mb-3">Table de resérvations</h3>
                </div>

                <div class='table-responsive'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for enseignant in enseignants %}
                            <tr>
                                <td>{{ enseignant.id }}</td>
                                <td>{{ enseignant.nom }}</td>
                                <td>{{ enseignant.prenom }}</td>
                                <td>
                                    <a href="{{ path('app_enseignant_show', {'id': enseignant.id}) }}">show</a>
                                    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="{{ path('app_enseignant_new') }}">Nouveau</a>
    </div>


</main>
{% endblock %}
